<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSmart</title>
    
    {% include "head-boilerplate.html" %}
</head>
<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <div class="d-flex justify-content-center align-items-center">
        <div class="container">
            {% for product in products %}
            <div class="row">
                <div class="col-md-auto">
                    <h1>{{ product[1] }}</h1>
                </div>
                <div class="col-md-auto">
                    <h1>{{ product[2] }}</h1>
                </div>
                <div class="col-md-auto">
                    <h1>{{ product[3] }}</h1>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>