<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSmart</title>
    
    {% include "head-boilerplate.html" %}
</head>
<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <div class="">
        <div class="container w-100">
            <div class="row border-bottom py-3 align-items-center text-bg-success rounded-4">
                <div class="col-md-5">
                    <h1>Description</h1>
                </div>
                <div class="col-md-3">
                    <h1>Category</h1>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 text-end">
                    <h1>Price</h1>
                </div>
                <div class="col-md-1 text-end"></div>
            </div>

            {% for product in products %}
            <div class="row border-bottom py-3 align-items-center">
                <div class="col-md-5 border-end">
                    <h1>{{ product[0] }}</h1>
                </div>
                <div class="col-md-3 border-end">
                    <h1>{{ product[1] }}</h1>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 text-end">
                    <h1>${{ product[2] }}</h1>
                </div>
                <div class="col-md-1 text-end">
                    <button class="btn btn-warning"><img src="../static/img/cart-plus-solid.svg" width="40" height="40" alt=""></button>
                </div>    
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>